<template>
  <div class="home">
    <div>
      <h3>To create new todo, one click down here.</h3>
      <button @click="addList" class="todo-button" type="submit">ADD NEW TODO</button>
      <hr/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  methods: {
    addList() {
      this.$router.push('/note')
    }
  }
}
</script>

<style scoped>
div {
  text-align: center;
}

h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

</style>
