<template>
  <div>
    <note-title/>
    <div>
      <form class="todo-form">
        <input
            v-model="newTodo"
            class="add-input"
            type="text"
            placeholder="Input New Todo"
            @keyup.enter="addTodo"
        >
        <button @click.prevent="addTodo" class="todo-button" type="submit">Add Todo</button>
      </form>

      <todo-list
          v-for="(todo, index) in todos"
          :key="todo.id"
          :todo="todo"
          :index="index"
          class="todo-item"
          @removedTodo="removeTodo"
          @finishedEdit="finishEdit"
      >
      </todo-list>

      <div class="box-button">
        <hr/>
        <button class="todo-button">Save</button>
        <button class="todo-button" @click="removeAllTodo">Delete All</button>
      </div>
    </div>
  </div>
</template>

<script>
import NoteTitle from '@/components/NoteTitle';
import {create} from 'vue-modal-dialogs';
import PopupConfirm from "@/components/PopupConfirm";
import TodoList from "@/components/TodoList";


const confirm = create(PopupConfirm, 'title', 'content');

export default {
  components: {
    NoteTitle,
    PopupConfirm,
    TodoList
  },
  data() {
    return {
      newTodo: '',
      beforeEditCache: '',
      todos: []
    }
  },
  directives: {
    focus: {
      inserted: function (el) {
        el.focus()
      }
    }
  },
  mounted() {
    const storageData = localStorage.getItem('todos');
    storageData ? this.todos = JSON.parse(storageData) : null

  },
  methods: {
    async removeAllTodo() {
      if (await confirm('Do you really want to delete this note?', 'This data will be lost forever')) {
        this.todos = [];
        this.storage()
      }
    },
    addTodo() {
      if (this.newTodo.trim().length === 0) {
        return
      }
      this.todos.push({
        id: Math.random().toString(36).substr(2, 5),
        text: this.newTodo,
        completed: false,
        editing: false,
      });
      this.newTodo = '';
      this.storage()
    },
    removeTodo(index) {
      this.todos.splice(index, 1);
      this.storage()
    },
    finishEdit(data) {
      this.todos.splice(data.index, 1, data.todo)
      this.storage();
    },
    storage() {
      localStorage.setItem('todos', JSON.stringify(this.todos));
    }
  }
}
</script>

<style>
input {
  font-family: 'Consolas', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #757575;
  padding: .5em;
  border-radius: 2px;
  border: 1px solid lightgray;
  outline: none;
}

.todo-button {
  background: #41b883;
  border: none;
  border-radius: 2px;
  color: white;
  position: relative;
  height: 36px;
  margin: 0 0 0 3px;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Consolas", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

button:hover {
  background-color: #36495e;
}

button:active {
  background-color: rgba(158, 158, 158, .4);
}

.box-button {
  padding-left: 10px;
  margin-bottom: 10px;
}

.todo-form {
  display: flex;
  background-color: #FAFAFA;
  border-top: 1px solid rgba(0, 0, 0, .1);
  padding: 10px;
}

.todo-form input {
  flex: 1;
  outline: none;
  transition: all .2s;
}

.todo-form input:focus {
  border: 1px solid #41b883;
}

.todo-form button {
  margin-left: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  border-top: 1px solid rgba(0, 0, 0, .1);
  background-color: #fff;
  transition: all .2s;
  -webkit-user-select: none;
  user-select: none;
  padding: 1em;
  align-items: center;
}

.todo-item button {
  opacity: 0;
  transition: all .2s;
}

.todo-item .checkbox {
  margin-right: .5rem;
}

.todo-item:hover button {
  opacity: 1;
}

.completed {
  text-decoration: line-through;
}

</style>
