<template>
  <div>
    <div class="note-title">Note title:</div>

    <div v-if="!editable" class="note-title">
      <span class="note-title" @click="editable = !editable">
        {{ newTitle }}
      </span>
      <button
          v-if="!newTitle.length"
          class="todo-button"
          @click="editable = !editable"
      >
        Add Title
      </button>
      <button
          v-else
          class="todo-button"
          @click="editable = !editable"
      >
        Edit
      </button>
    </div>

    <input
        type="text"
        v-else
        class="title-input"
        @keyup.enter="editable = !editable"
        v-click-outside="setEditFalse"
        v-model="newTitle"
        placeholder="Enter title"
    >
  </div>
</template>

<script>
export default {
  data() {
    return {
      newTitle: '',
      editable: false,
    }
  },
  methods: {
    setEditFalse() {
      this.editable = false;
    },
  }
}
</script>

<style scoped>

div {
  text-align: center;
}

.note-title {
  font-size: 20px;
  margin: 10px;
}

.title-input {
  margin-bottom: 10px;
}
</style>
