<template>
  <div>
    <div>
      <div
          v-if="!editing"
          @dblclick="editTodo"
          :class="{completed : completed}"
      >
        <input
            class="checkbox"
            type="checkbox"
            v-model="completed"
            @change="doneEdit"
        >
        {{ text }}
      </div>
      <input
          v-else
          class="todo-item-edit"
          type="text"
          v-model="text"
          @blur="doneEdit"
          @keyup.enter="doneEdit"
          @keyup.esc="cancelEdit"
          v-focus
      >
    </div>
    <div class="todo-edit-buttons">
      <button @click="editTodo(todo)" class="todo-button">Edit</button>
      <button
          class="todo-button"
          @click="removeTodo(index)"
      >Delete
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "TodoList",
  props: {
    todo: {
      type: Object,
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      'id': this.todo.id,
      'text': this.todo.text,
      'completed': this.todo.completed,
      'editing': this.todo.editing,
      'beforeEditCache': '',
    }
  },
  directives: {
    focus: {
      inserted: function (el) {
        el.focus()
      }
    }
  },
  methods: {
    removeTodo(index) {
      this.$emit('removedTodo', index)
    },
    editTodo() {
      this.beforeEditCache = this.text;
      this.editing = true;
    },
    doneEdit() {
      if (this.text.trim() === '') {
        this.text = this.beforeEditCache;
      }
      this.editing = false;
      this.$emit('finishedEdit', {
        'index': this.index,
        'todo': {
          'id': this.id,
          'text': this.text,
          'completed': this.completed,
          'editing': this.editing
        }
      })
    },
    cancelEdit() {
      this.text = this.beforeEditCache;
      this.editing = false;
    },
  }
}
</script>

<style scoped>

</style>
