<template>
  <div id="app">
    <header>
      <h1>Todo.vue</h1>
    </header>
    <div class="nav">
      <router-link class="router-link" to="/" exact>List Of Notes</router-link>
      <router-link class="router-link" to="/note" exact>Create Note</router-link>
    </div>
    <hr/>
    <router-view/>
    <dialogs-wrapper transition-name="fade"></dialogs-wrapper>
  </div>
</template>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #fafafa;
    color: #757575;
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    margin: 0;
  }

  #app {
    background: #fff;
    width: 700px;
    margin: 70px auto;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  }

  header {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: white;
    background-color: #41b883;
    text-align: center;
    text-transform: uppercase;
  }

  header h1 {
    display: inline-block;
    color: white;
    margin: 1rem auto;
  }

  .nav {
    display: flex;
    justify-content: space-around;
  }

  .router-link {
    text-decoration: none;
    color: rgb(80, 80, 80);
    font-size: 22px;
  }

  .router-link-active {
    color: #ef5350;
  }

  hr {
    margin: 15px 0 15px 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
</style>
